<div class="container">
  <h1>Stupid Coaching</h1>
  <div id="ask-form">
    <p id="askask">Ask your coach anything</p>
    <form action="/answer_question" method="get">
      <input class="input" type="text" name="ask" placeholder="Ask your coach anything!">
      <input class="btn" type="submit" value="Ask!">
    </form>
  </div>

</div>
