// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
  text-align: center;
}

.btn {
  border-radius: 2px;
  background-color: #457AB2;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin-left: 0px;
}

.input {
  width: 50%;
  padding: 10px;
}

#askask {
  text-align: center;
}

.you {
  text-align: left;
}

.coach {
  text-align: left;
}

.small {
  width: 25vh;
}
